textarea-137 {
    border: 1px solid #999999;
    border-radius: 3px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 600;
    background: #ffffff;
    box-sizing: border-box;
}
textarea-137 {
    height: 136px;
    width: 515px;
    left: 32%;
    top: 53%;
}
